/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    background-color: black;
	position: fixed;
}

#loadIndicator {
	filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

#undertale {
	width: 80vw;
	
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

.centered {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

@media screen and (orientation: landscape) {
	#undertale {
		width: 50vw;
		
		position: fixed;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		
		margin: auto;
	}
}

.unselectable {
	user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#joystickBack {
	opacity: 20%;
	width: 25%;
	position: fixed;
	bottom: 0;
}

#confirmButton {
	opacity: 50%;
	width: 25%;
	position: fixed;
	bottom: 0;
	left: 75%;
}

#joystick {
	opacity: 20%;
	width: 20%;
	position: fixed;
	bottom: 25px;
	right: 77.5%;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
   	overflow-y: hidden
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
